.DS_Store
Thumbs.db

.idea/
.vscode/
docker-compose.override.yaml

backend/main
backend/private-whisper-backend

ai-worker/venv/
ai-worker/__pycache__/
*.pyc

hf_cache/

backend/uploads/*
!backend/uploads/.gitkeep
.env